.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 30%;
  padding: 10px;
}

.image img {
  width: 100%;
  height: auto;
}

.text {
  flex: 1;
  padding: 10px;
}